<%= form_with model: [ @city, @city.comments.build ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, class: 'form-control' %>
  </p>
  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>