<div class="card">
  <div class="card-header">
    About Us
  </div>
  <div class="card-body">
    <h5 class="card-title">About information are fake</h5>
    <p class="card-text"> Love or hate social media, there's no denying it's changed the way we get information. With that comes a world where it's so easy to just post anything, often times we see incorrect information that can be deceiving and weather forecasts are no exception. 
      Pittsburghers get it, being weather-aware is important because we can often get all four seasons in a week, a day, or hours! .</p>
    <%= link_to 'Go To Home', root_path, class: 'btn btn-primary '%>
  </div>
</div>