<div class="card text-center">
  <div class="card-header">
    Help
  </div>
  <div class="card-body">
    <h5 class="card-title">Create Fake Weather Contact Information </h5>
    <p class="card-text"> Listed below are our top recommendations on how to get in contact with Create Fake Weather. We make eduacted guesses on the direct pages on their website to visit to get help with issues/problems like using their site/app, billings, pricing, usage, integrations and other issues. You can try any of the methods below to contact Create Fake Weather. Discover which options are the fastest to get your customer service issues resolved..
      The following contact options are available: Pricing Information, Support, General Help, and Press Information/New Coverage (to guage reputation).</p>
    <%= link_to 'About Us', about_us_path, class: 'btn btn-primary'%>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>