<div class="row scroll">
  <% if current_user || @cities.present? %>
    <%= render @cities %>
  <% else %>
    <div class="card text-right" style="width: 18rem;">
      <div class="card-body">
        <p class="card-title">Welcome to Live Weather</p>
        <p class="card-text">Add city to check. Weather Information!</p>
      </div>
    </div>
  <% end %>
</div>
