default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  # username: rails
  # password: rails
  # host: localhost
  # port: 5432

development:
  <<: *default
  database: live_weather_development

test:
  <<: *default
  database: live_weather_test

production:
  <<: *default
  database: live_weather_production
  username: live_weather
  password: <%= ENV['LIVE_WEATHER_DATABASE_PASSWORD'] %>
