<p>City Name: <%= @city.name %></p>

<p><%= @city.timezone %></p>

<p><strong>All Comments</strong></p>
<% @city.comments.each do |comment| %>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<hr>
<p>Add a comment:</p>
<%= render 'comments/form' %>
